<BODY>
<P>
    <a href="https://id.twitch.tv/oauth2/authorize?response_type=token&scope=&client_id=<%=clientid%>&state=<%=stateid%>&redirect_uri=https://<%=serverbaseurl%>/process/login">Agree and Connect with Twitch</a>

</P>
</BODY>
