aiofiles==23.2.1
altgraph==0.17.3
certifi==2024.2.2
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.3
compress==0.0.3
cryptography==42.0.4
idna==3.7
Jinja2==3.1.3
macholib==1.16.2
MarkupSafe==2.1.3
numpy==1.26.1
packaging==23.2
parse==1.20.0
pillow==10.2.0
pyaml==23.9.7
pycparser==2.21
pyinstaller==6.4.0
pyinstaller-extractor==1.0.3
pyinstaller-hooks-contrib==2024.1
PyYAML==6.0.1
requests==2.31.0
segno==1.6.1
six==1.16.0
spark-parser==1.8.9
timedelta==2020.12.3
tkdesigner==1.0.7
uncompyle6==3.7.4
urllib3==2.2.0
websockets==12.0
xdis==5.0.13
